
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    @Html.DropDownList("AlbumsByName");
</div>
<div>
    @Html.DropDownList("AlbumsByArtist");
</div>

<div>
    @Html.DropDownList("AlbumsByGenre");
</div>

<hr />
@Html.TextBox("Textbox1", "Hello World!");
<br />

@Html.Label("Label 1");

<br />

@Html.CheckBox("Check box", true);

<br />

@Html.RadioButton("Name", "Red");

@Html.RadioButton("Name", "Blue");

@Html.RadioButton("Name", "Green");


